.container-fluid {
  padding-top: 50px;
  position: relative;
}

.card {
  margin-top: 50px;
}

.spinner {
  margin: 0 auto;
}

.pic-card {
  flex: 1;
  margin: 10px;
  border-radius: 3px;
  padding-top: 10px;
  text-align: center;
  background: rgba(0, 0, 0, .07);
}
