<div class="container-fluid">
  <!--<div class="col-md-8">
    <mat-card>
      <div echarts [options]="options"></div>
    </mat-card>
  </div>-->
  <div class="col-md-4">
    <mat-card>
      <mat-card-title class="text-center">我的财产</mat-card-title>
      <mat-card-content>
        <!--TODO 财产-->
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12" style="margin-top: 30px;">
    <mat-card>
      <!--FIXME-->
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th></th>
        </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>
