.container-fluid {
  /*width: 100%;*/
  padding: 20px;
  position: relative;
}

.card {
  height: 45vh;
}

.card-left-wrapper {
  padding-left: 0;
  padding-right: 10px;
  padding-bottom: 20px;
}

.card-right-wrapper {
  padding-left: 10px;
  padding-right: 0;
  padding-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .card-left-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .card-right-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
