.container {
  padding-top: 50px;
  position: relative;
}

h2 {
  font-family: Arial, Tahoma, "Times New Roman";
  margin-bottom: 20px;
}

.card {
  margin-top: 50px;
  padding-top: 30px;
}

.login-btn {
  background-color: #6BC676;
  color: white;
  width: 100%;
}

.login-list {
  margin-top: 40px;
  margin-bottom: 20px;
}

.face-login {
  width: 100px;
}

.login-list-item {
  text-align: center;
}

.spinner {
  margin: 0 auto;
}
