<div class="container">
  <mat-card class="col-md-6 col-md-offset-3 card">
    <h2 class="text-center">HADES</h2>
    <form role="form">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="username">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input type="text" class="form-control" name="username" placeholder="用户名" aria-describedby="username"
                 [(ngModel)]="username">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="password">
            <i class="glyphicon glyphicon-lock"></i>
          </span>
          <input type="password" class="form-control" placeholder="密码" aria-describedby="password" name="password"
                 [(ngModel)]="password">
        </div>
      </div>
      <button mat-raised-button (click)="baseLogin();" class="login-btn" *ngIf="!isLoading">登录</button>
      <mat-progress-spinner
        *ngIf="isLoading"
        class="spinner"
        color="primary"
        diameter="36"
        mode="indeterminate">
      </mat-progress-spinner>

      <div class="login-list">
        <div class="login-list-item">
          <img src="assets/tech-face-detection-icon.png" class="face-login" (click)="faceLogin();"/>
        </div>
      </div>
    </form>

    <div class="alert alert-warning" role="alert" [hidden]="warnMsg === ''">
      <strong>Warning!</strong>{{warnMsg}}
    </div>
    <div class="alert alert-danger" role="alert" [hidden]="errorMsg === ''">
      <strong>Error!</strong>{{errorMsg}}
    </div>
  </mat-card>
</div>
